@use "../../styles/variables" as v;

.course-card{
    height: 100%;
    cursor: pointer;

    .card-title{
        color: v.$color2;
        margin-bottom: 25px;
    }
    .card-subtitle{
        color: v.$color1;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .image{
            img{
                transition: all 0.5s ;
                -webkit-transition: all 0.5s ;
                -moz-transition: all 0.5s ;
                -ms-transition: all 0.5s ;
                -o-transition: all 0.5s ;
                &:hover{
                    transform: scale(1.3);
                    -webkit-transform: scale(1.3);
                    -moz-transform: scale(1.3);
                    -ms-transform: scale(1.3);
                    -o-transform: scale(1.3);
}
            }
            overflow: hidden;
        }
    }
}