@use "../../styles/variables" as v;


.up-top{
    position: absolute;
    right: 20px;
    bottom: px;
   width: 200px;
   button{
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
}